<% if collection.present? %>
  <h2><%= t('custodians') %></h2>
  <ul>
  <% collection.each do |custodian| %>
    <li>
<%# Upgrade 2.0.0 inizio %>
<%# cambiato il riferimento a custodian_path(custodian) con current_context_object_path(custodian) %>
<%# Upgrade 2.0.0 fine %>
<%# Upgrade 3.0.0 inizio %>
	<% if custodian.published == true %>
    	<%= link_to "#{custodian.preferred_name.name}", current_context_object_path(custodian) %>
    <% else %>
    	<%= "#{custodian.preferred_name.name}" %>
    <% end %>
<%# Upgrade 3.0.0 fine %>  
    </li>
  <% end %>
  </ul>
<% end %>