<% if collection.present? %>
  <h2><%= t('custodians') %></h2>
  <ul>
  <% collection.each do |custodian| %>
    <li>
<%# Upgrade 2.0.0 inizio %>
<%# cambiato il riferimento a custodian_path(custodian) con current_context_object_path(custodian) %>
<%# Upgrade 2.0.0 fine %>
      <%= link_to "#{custodian.preferred_name.name}", current_context_object_path(custodian) %>
    </li>
  <% end %>
  </ul>
<% end %>