<% content_for :content do %>
  <div class="row">
<%# Upgrade 2.0.0 inizio %>
    <%# div class="span3" %>
    <div class="col-xs-3">
<%# Upgrade 2.0.0 fine %>
      <%= render "shared/sidebar" %>
    </div>
<%# Upgrade 2.0.0 inizio %>
    <%# div class="span9" %>
    <div class="col-xs-9">
<%# Upgrade 2.0.0 fine %>
      <%= yield %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>